{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load crispy_forms_tags%}
{% block content %}
<section class="container_top">
  <div class="auth__page" id="auth">
    <div class="auth__wrap">
      <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
      {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
      {% if form %}
        <form method="POST" action="{{ action_url }}">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" name="action"  value="{% trans 'change password' %}" class="btn btn-primary">
        </form>
      {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
      {% endif %}
    {% endif %}
    </div>
  </div>
</section>   
{% include 'includes/contact.html'%}
{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}
{% include 'includes/auth.html' %}
{% include 'includes/favours.html' %}
{% include 'includes/basket.html' %}
{%endblock content%}