{% load get_feature get_features_by_attr from get %}

{% block content %}

{% get_feature "index" "char1" as content1 %} 
{% get_features_by_attr "index" "sliders" as sliders %}
{% get_features_by_attr "index" "features" as features %}
{{content1.name}}
<br>
{{content1.value}}
<br>
{{sliders}}
<br>
{% for feature in features%}
{{feature.name}}
<br>
{{feature.value}}
{% endfor%}

{%endblock content%}

