{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}"/>
  <meta name=“robots” content=“noindex,nofollow”>
</head>
<body {% block body_class%}{% endblock body_class%}>
  {% block content %}
  {% endblock content %}
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
</body>
</html>
